* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #242424;
    --third: #414141;
    --red: rgb(192, 50, 50);
    --white: #e0e0e0;
    --light: #8a8a8a;
    --complete: #389239;
}

body {
  /* background: url('./background.png') var(--primary); */
  background-size: cover;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

/* #root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
} */

.task-counter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.task-search {
  background: var(--secondary);
  border-radius: 2px;
  border: 2px solid var(--primary);
  margin-bottom: 35px;
  height: 64px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--white);
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  border-radius: 15px;
}

.task-search::placeholder {
  color: var(--light);
  font-family: 'Montserrat';
  font-weight: 400;
}

.task-search:focus {
  outline: none;
  background-color: var(--third);
}

ul {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}

.task-item {
  background-color: var(--secondary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 24px; */
}

.task-item p {
  width: calc(100% - 120px);
  line-height: 24px;
  /* margin: 24px 0 24px 24px;
  font-size: 18px;
  font-weight: 400; */
}

.task-item-completed {
  text-decoration: line-through;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

/* .icon-check {
  position: absolute;
  left: 12px;
}

.icon-check-active {
  color: var(--complete);
} */

/* .icon-delete {
  position: absolute;
  right: 0;
}

.icon-delete:hover {
  color: var(--red);
} */

.create-task-button {
  cursor: pointer;
  position: fixed;
  /* bottom: 50px; */
  /* right: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%;
  background-color: var(--third);
  border: none;
  color: #FAFAFA;
  font-size: 25px;
  font-weight: bold;
  height: 64px;
  width: 64px; */
  /* transform: rotate(0);
  transition: .3s ease; */
  z-index: 2;
}



/* .create-task-button:hover {
  transform: rotate(224deg);
  outline: none;
} */

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 3;
}


html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  z-index: 1;
}
